.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 10px 0;
}

.nav-links li {
  font-weight: 600;
  color: #666;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #ff5722;
}

.btn-resume {
  padding: 12px 20px;
  border: 2px solid #ff5722;
  background: transparent;
  color: #ff5722;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-resume:hover {
  background-color: #ff5722;
  color: white;
  transform: translateY(-3px);
  border-color: #ff5722;
}
