:root {
  --primary-orange: #ff5722;
  --text-main: #1a1a1a;
  --text-muted: #666;
  --bg-light: #f9f9f9;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--text-main);
  background-color: #ffffff;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

* {
  box-sizing: border-box; /* Memastikan padding tidak menambah lebar elemen */
}
